@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --color-primary: #598050;
  --color-secondary: #155765;
  --color-tertiary: #4D2C3D;
} */
:root {
  --color-primary: #416444;
  --color-secondary: #ffc53c;
  --color-tertiary: #06453a;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Exo', sans-serif;
}

* {
  box-sizing: border-box;
}

.hover-item {
  transition: 200ms ease-in-out;
}
.hover-item:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.responsive {
  @apply max-w-[100rem] lg:m-auto;
}

.padding {
  @apply px-4;
}

.paddingy {
  @apply py-20;
}

.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.markdown p {
  @apply mt-4;
}
