@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #598050;
  --color-secondary: #ffc53c;
  --color-tertiary: #06453a;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.hover-item {
  transition: 200ms ease-in-out;
}
.hover-item:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.responsive {
  @apply max-w-7xl lg:m-auto;
}

.padding {
  @apply px-4;
}

.paddingy {
  @apply py-10;
}

.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.markdown p {
  @apply mt-4;
}
