@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgba(5, 69, 58, 1);
  --color-secondary: #ffc53c;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.hover-item {
  transition: 200ms ease-in-out;
}
.hover-item:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.responsive {
  @apply md:max-w-3xl lg:max-w-7xl;
}

.padding {
  @apply px-4;
}

.paddingy {
  @apply py-10
}
